@model Shop.Web.ViewModels.Products.ProductDetailsVM
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/delete-product.css" type="text/css" />
    <link href="~/Content/product-details.css" rel="stylesheet" type="text/css" />
</head>


<div class="product-form form-group">
    <h2 class="page-details">Product details</h2>
    <section class="product-details">
        <article class="product">
            <div class="image-wrapper">
                @if (Model.ProductImage.Count() == 0)
                {
                    <img src="../../images/no-photo.png" class="product-img" />
                }
                else
                {
                    <img src="data:image;base64, @Model.ProductImage" class="product-img" />
                }
            </div>
            <div class="product-info">
                <h3 class="title">Title: @Model.Title</h3>
                <h4 class="short-description">Short description: @Model.ShortDescription</h4>
                <p class="description">Description: @Model.Description</p>
                <div class="date-owner">
                    @if (Model.ModifiedOn != null)
                    {
                        <span class="product-date">Edited on: @Model.ModifiedOn</span>
                    }
                    else
                    {
                        <span class="product-date">Created on: @Model.CreatedOn</span>
                    }
                    <p class="product-owner">
                        Product owner: @Model.Owner.FirstName @Model.Owner.LastName
                    </p>
                </div>
                <p class="product-price">Price: @Model.Price</p>
                <ul class="product-categories">
                    @foreach (var category in Model.Categories)
                    {
                        <li>Category: @category.Name</li>
                        <li>Description: @category.Description</li>
                    }
                </ul>
            </div>
        </article>
    </section>
    <div class="button-group">
        @Html.ActionLink("Edit", "Edit", "Product",new { id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Delete", "Delete", "Product",new { id = Model.Id }, new { @class = "btn btn-primary" })
    </div>
</div>