@model List<Shop.Web.ViewModels.Products.ListProductsVM>

@foreach (var product in Model)
{
    <article class="product-container">
        <div class="image-wrapper">
            <img src="data:image;base64, @product.ProductImage" style="width: 200px; height: auto"/>
        </div>
            <h3 class="product-title">@Html.ActionLink(@product.Title, "Details", "Product", new { id = product.Id }, null)</h3>
        <div class="post-body">
            @product.Price
            @Html.Raw(product.ShortDescription)
            @Html.ActionLink("Read more...", "Details", "Product")
        </div>
        <div class="date">
            <span class="created-on">@product.CreatedOn</span>
        </div>
    </article>
}

