@model List<Shop.Web.ViewModels.Products.ListProductsVM>

<head>
    <link href="~/Content/list-products.css" rel="stylesheet" type="text/css"/>
</head>

@foreach (var product in Model)
{
    <li class="product-item">
        <div class="image-wrapper">
            @if (product.ProductImage.Count() == 0)
            {
                <img src="../../images/no-photo.png" class="product-img" />
            }
            else
            {
                <img src="data:image;base64, @product.ProductImage" class="product-img" />
            }
        </div>
        <h3 class="product-title">@Html.ActionLink(@product.Title, "Details", "Product", new { id = product.Id }, null)</h3>
        <div class="post-body">
            <p class="short-description">@Html.Raw(product.ShortDescription)</p>
            <p class="price">@product.Price</p>
            @Html.ActionLink("Add to cart", "Index", "Cart", new { id = product.Id }, new { @class = "btn btn-default" })
        </div>
    </li>
}

