@model Shop.Web.ViewModels.Account.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<head>
    <link rel="stylesheet" href="~/Content/register-user.css" type="text/css" />
    <script src="~/Scripts/custom/priviewImage.js"></script>
</head>

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group registration">
        
        <div class="col-md-10 reg-item">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>

        <div class="col-md-10 reg-item">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>

        <div class="col-md-10 reg-item">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>

        <div class="col-md-10 reg-item">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>

        <div class="col-md-10 reg-item">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>

        <div class="col-md-10 reg-item">
            @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.Age, new { @class = "form-control", type = "number" })
        </div>

        <div class="col-md-10 reg-item">
            @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
            @Html.EnumDropDownListFor(m => m.Gender, new { @class = "form-control" })
        </div>

        <div class="col-md-10 reg-item">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>

        <div class="col-md-10 reg-item">
            <div class="image-wrapper">
                <img class="img-responsive" id="file" src="#" alt="Profile picture" >
            </div>
            @Html.TextBoxFor(m => m.ProfilePicture, new { @class = "col-md-offset-2 btn btn-default",
           type = "file", @onchange = "previewImage()" })
        </div>

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}