@model Shop.Web.ViewModels.Admin.AdminIndexViewModel
@{
    ViewBag.Title = "Admin Dashboard";
}

<h2>@ViewBag.Title.</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-inverse">
                <caption><b>Users</b></caption>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Users.Count <= 0)
                    {
                        <tr></tr>
                        <tr>
                            <th scope="row"></th>
                            <td>There are no users in the system!</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var user in Model.Users)
                        {
                            if (user.IsDeleted)
                            {

                                <tr class="danger">
                                    <th scope="row">@user.UserName</th>
                                    <td>@user.Email</td>
                                    <td>@user.FirstName</td>
                                    <td>@user.LastName</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th scope="row">@user.UserName</th>
                                    <td>@user.Email</td>
                                    <td>@user.FirstName</td>
                                    <td>@user.LastName</td>
                                    <td>@Html.ActionLink("Manage", "ManageUser", new { id = user.Id })</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-inverse">
                <caption><b>Products</b></caption>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Short Description</th>
                        <th>Created On</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Products.Count <= 0)
                    {
                        <tr></tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>There are no products in the system!</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var product in Model.Products)
                        {
                            if (product.Deleted) // Check if product is deleted
                            {
                                <tr class="danger">
                                    <th scope="row">@product.Title</th>
                                    <td>@product.ShortDescription</td>
                                    <td>@product.CreatedOn</td>
                                    <td>@product.Price</td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", "Product", new { id = product.Id },null)
                                        @Html.ActionLink("Delete", "Delete", "Product", new { id = product.Id },null)
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th scope="row">@product.Title</th>
                                    <td>@product.ShortDescription</td>
                                    <td>@product.CreatedOn</td>
                                    <td>@product.Price</td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", "Product", new { id = product.Id }, null)
                                        @Html.ActionLink("Delete", "Delete", "Product", new { id = product.Id },null)
                                    </td>
                                </tr>
                            }

                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>





